__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.pem
*.egg-info
*.dist-info
.DS_Store
.env
.env.*
venv/
env/
.idea/
.vscode/
.git
.gitignore
bin/
include/
lib/
staticfiles/
media/
node_modules/
build/
dist/
